body {
  background-color: white;
  color: #030112;
  font-family: "system-ui";
  white-space: wrap;
  /*text-transform: uppercase;*/
  font-size: 1.5em;
}

.hide {
  background-color: #030112;
}

#game-board {
  width: 70%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

#data {
  display: none;
}

span {
  margin-left: -0.5px;
}

.date {
  font-weight: 500;
  font-style:italic;
}

.font-1 {
  /*font-family: 'Amazon Ember', sans-serif;*/
}

.font-2 {
  font-family: 'Baskerville', sans-serif;
}

.font-3 {
  font-family: 'Baskerville', sans-serif;
}

.font-4 {
  font-family: 'Georgia', sans-serif;
}

.font-5 {
  font-family: 'Helvetica', sans-serif;
}

.font-6 {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 200;
}

.font-7 {
  font-family: 'Lucinda', sans-serif;
}

.font-8 {
  font-family: 'Palatino LT', sans-serif;
  /*font-family: 'Palatino LT Light', sans-serif;*/
}

p {
  margin: 0;
}